$margenPCTablaItemCol : 0.50%;
$paddinPCTablaItemCol : 0.50%;
$margenMovilTablaItem : 0.50%;
$paddinMovilTablaItem : 0.50%;
$fontMovil: 1em;
$fontPC: 1.2em;
//tabla
$margenTablaMovil : 0.50%;
$paddinTablaMovil : 0.50%;
$margenTablaPC : 0.10%;
$paddinTablaPC : 0.10%;
//tr
$margenTrMovil : 1vw;
$paddinTrMovil : 1vw;
$margenTrPC : 2vw;
$paddinTrPC : 2vw;

//Col
$margenMovilTablaItemCol : 0.50%;
$paddinMovilTablaItemCol : 0.50%;

$margenPCTablaItemCol : 0.50%;
$paddinPCTablaItemCol : 0.50%;

@viewport {
    width: device-width;
}

a {
    color: lavender;
}
    
html {
overflow-y: auto;
}

img
{
    max-width: 100%;
}

html, body {
    height: 100%;
}

body {
    margin: 0%;
    display: flex;
    flex-direction: column;
    background-color: #303030;   
}

#menu {
    background-color: #499bea;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 1vw;     
    padding: 1vw;
    border-radius: 5px;
}

#menu * {
    width: 3em;
    height: 3em;    
	background: white;
	border-radius: 50%;	
}

#mainArea {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;      
}

#add {
    width: 5em;
    height: 5em;    
}

#contenedor_Fila {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;    
    margin: $margenTablaMovil;
    padding: $paddinTablaMovil;   
}

#contenedor_Fila * {
    margin: $margenTablaMovil;
    padding: $paddinTablaMovil;
}

#contenedor_Tr {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;    
    margin: $margenTrMovil;
    padding: $paddinTrMovil;   
}

#contenedor_Tr * {
    margin: $margenTrMovil;
    padding: $paddinTrMovil;
}

#tabla{    
    display: flex;
    //flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;    
    margin: $margenTablaMovil;
    padding: $paddinTablaMovil; 
    //border-style: solid;   
}

#fila{   
    display: flex;    
    margin: $margenMovilTablaItem;
    padding: $paddinMovilTablaItem;
    width: 40%;
    border-style: dashed;         
}

#Col1{    
    //flex: 1;
    //align-self: center;
      
    background-color: transparent;
	font-family: "Lucida Console", Monaco, monospace;	
	color: white;
    font-size: $fontMovil;        
}

#ColNombre{
    width: 40%;  
}
#contenedor_Template
{
    display: flex;    
    flex-direction: column;
    border-style: dashed;
    //justify-content: center;    
    //margin: $margenTablaMovil;
    //padding: $paddinTablaMovil;
    //border-style: dashed;
    //align-items: baseline;
}

//#contenedor_Template * {    
    //margin: $margenTablaMovil;
    //padding: $paddinTablaMovil;
    //align-items: baseline;
    //align-self: baseline;
//}

#columnNombre {
    display: flex;
    flex-direction: row;
    //justify-content: center;
    //align-items: flex-end;    
    //flex: 1;
    //align-items: baseline;
    //width: 50px;
    //padding: 2wv;
    border-style: dashed; 
}

#columnSituacion {
    display: flex;
    flex-direction: row;    
    flex: 1;
    align-items: baseline;
    //width: 50px;
    //padding: 2wv;
}

.txtDescripcion {
    flex-grow: 0;
    align-self: center;
	background-color: black;
	color: white;	
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1.2em;    
}

#cboSeccion {    
    flex-basis: 50%;
    text-align-last:center;
}

#cboMes {    
    flex-basis: 50%;
    text-align-last:center;
}

#btnbuscar {        
    display: flex;
    flex-flow: row wrap;    
    margin: 1vw;
    padding: 1vw;
}

#btnbuscar * {
    width: 3em;
    height: 3em;    
	background: white;
	border-radius: 50%;	
}

.Col {
    //align-self: center;
    border-style: dashed;       
    background-color: transparent;
	font-family: "Lucida Console", Monaco, monospace;	
	color: white;
    font-size: $fontMovil;
    margin: $margenMovilTablaItemCol;
    padding: $paddinMovilTablaItemCol;
    text-decoration: none;
}
  
#statusBar {       
    // flex-grow: 1;
    display: flex;      
    background-color: #499bea;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: $margenMovilTablaItem;
    padding: $paddinMovilTablaItem;
    font-family: "Lucida Console", Monaco, monospace;	
    font-size: $fontMovil; 
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

@media all and (min-width: 500px) {

    #menu{
        margin: 0.5vw;     
        padding: 0.5vw;
    }

    #add {
        width: 4em;
        height: 4em;    
    }

    #contenedor_Fila {
        margin: $margenTablaPC;
        padding: $paddinTablaPC;  
    }

    #contenedor_Fila * {
        margin: $margenTablaPC;
        padding: $paddinTablaPC;  
    }

    #cboSeccion {    
        flex-basis: 25%;
    }

    #cboMes {    
        flex-basis: 25%;        
    }

    #btnbuscar * {
        width: 4em;
        height: 4em;           
    }

    .txtDescripcion {
        flex-grow: 0;
        font-size: 1.2em;
    }

    //.Col {
        //flex-basis: 20%;
    //}

    #statusBar {          
        margin: $margenPCTablaItemCol;
        padding: $paddinPCTablaItemCol;
        font-size: $fontPC;
    }

    #linkHogar{
        margin-left: 1vh;
    }

    #linkWappcom{
        margin-right: 1vh;
    }
}