@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

html {
  overflow-y: auto;
}

img {
  max-width: 100%;
}

html, body {
  height: 100%;
}

body {
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #303030;
}

#menu {
  background-color: #499bea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1vw;
  padding: 1vw;
  border-radius: 5px;
}

#menu * {
  width: 3em;
  height: 3em;
  background: white;
  border-radius: 50%;
}

#mainArea {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

#add {
  width: 5em;
  height: 5em;
}

#contenedor_Fila {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5%;
  padding: 0.5%;
}

#contenedor_Fila * {
  margin: 0.5%;
  padding: 0.5%;
}

#contenedor_Template {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5%;
  padding: 0.5%;
}

#contenedor_Template * {
  margin: 0.5%;
  padding: 0.5%;
}

#columnNombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#columnSituacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.txtDescripcion {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: black;
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1.2em;
}

#cboSeccion {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align-last: center;
}

#cboMes {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align-last: center;
}

#btnbuscar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 1vw;
  padding: 1vw;
}

#btnbuscar * {
  width: 3em;
  height: 3em;
  background: white;
  border-radius: 50%;
}

.Col {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  background-color: transparent;
  font-family: "Lucida Console", Monaco, monospace;
  color: white;
  font-size: 1em;
  margin: 0.5%;
  padding: 0.5%;
  text-decoration: none;
}

#statusBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #499bea;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5%;
  padding: 0.5%;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1em;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

@media all and (min-width: 500px) {
  #menu {
    margin: 0.5vw;
    padding: 0.5vw;
  }
  #add {
    width: 4em;
    height: 4em;
  }
  #contenedor_Fila {
    margin: 0.1%;
    padding: 0.1%;
  }
  #contenedor_Fila * {
    margin: 0.1%;
    padding: 0.1%;
  }
  #cboSeccion {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  #cboMes {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  #btnbuscar * {
    width: 4em;
    height: 4em;
  }
  .txtDescripcion {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    font-size: 1.2em;
  }
  .Col {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  #statusBar {
    margin: 0.5%;
    padding: 0.5%;
    font-size: 1.2em;
  }
  #linkHogar {
    margin-left: 1vh;
  }
  #linkWappcom {
    margin-right: 1vh;
  }
}
/*# sourceMappingURL=css_inicio.css.map */