@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
html {
  overflow-y: auto;
}

img {
  max-width: 100%;
}

html, body {
  height: 100%;
}

body {
  margin: 0%;
  display: flex;
  flex-direction: column;
  background-color: #303030;
}

#menu {
  background-color: #499bea;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 1vw;
  padding: 1vw;
  border-radius: 5px;
}

#menu * {
  width: 3em;
  height: 3em;
  background: white;
  border-radius: 50%;
}

#mainArea {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}

#add {
  width: 5em;
  height: 5em;
}

#contenedor_Fila {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0.3%;
  padding: 0.3%;
}

.tabla {
  display: flex;
  margin: 0.1%;
  padding: 0.1%;
}

.Col {
  flex: 1;
  background-color: transparent;
  font-family: "Lucida Console", Monaco, monospace;
  color: white;
  font-size: 1em;
  margin: 0.1%;
  padding: 0.1%;
}

#ColNombre {
  display: flex;
  justify-content: flex-start;
}

#ColSituacion {
  display: flex;
}

.CellStyle {
  background-color: transparent;
  font-family: "Lucida Console", Monaco, monospace;
  color: white;
  font-size: 1em;
  margin: 0.1%;
  padding: 1vw;
  text-decoration: none;
}

.txtDescripcion {
  flex-grow: 0;
  align-self: center;
  background-color: black;
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1.2em;
}

#cboSeccion {
  flex-basis: 50%;
  -moz-text-align-last: center;
       text-align-last: center;
}

#cboMes {
  flex-basis: 50%;
  -moz-text-align-last: center;
       text-align-last: center;
}

#btnbuscar {
  display: flex;
  flex-flow: row wrap;
  margin: 1vw;
  padding: 1vw;
}

#btnbuscar * {
  width: 3em;
  height: 3em;
  background: white;
  border-radius: 50%;
}

#statusBar {
  display: flex;
  background-color: #499bea;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 1vw;
  padding: 1vw;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1em;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

@media all and (min-width: 500px) {
  #menu {
    margin: 0.5vw;
    padding: 0.5vw;
  }
  #add {
    width: 4em;
    height: 4em;
  }
  #contenedor_Fila {
    margin: 0.1%;
    padding: 0.1%;
  }
  #contenedor_Fila * {
    margin: 0.1%;
    padding: 0.1%;
  }
  #cboSeccion {
    flex-basis: 25%;
  }
  #cboMes {
    flex-basis: 25%;
  }
  #btnbuscar * {
    width: 4em;
    height: 4em;
  }
  .txtDescripcion {
    flex-grow: 0;
    font-size: 1.2em;
  }
  .tabla {
    margin: 0.25%;
    padding: 0.25%;
  }
  .Col {
    margin: 0.25%;
    padding: 0.25%;
  }
  .CellStyle {
    font-size: 1em;
    padding: 0.25%;
  }
  #ColNombre {
    justify-content: flex-end;
  }
  #statusBar {
    margin: 1vw;
    padding: 1vw;
    font-size: 1em;
  }
  #linkHogar {
    margin-left: 1vh;
  }
  #linkWappcom {
    margin-right: 1vh;
  }
}/*# sourceMappingURL=css_inicio.css.map */